# -----------------------------------------------------------------------------
# Folders:
#

.idea/
.vs/
.vscode/
Assets/Plugins*
Builds/
Library/
Temp/
obj/

# -----------------------------------------------------------------------------
# Files:
#

*.csproj
*.sln
*~
.DS_Store

# -----------------------------------------------------------------------------
# Project Specific:
#
